# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# TOOD set specific versions
#dependencies:
#config
python=3.7
yaml
#base
numpy
scipy
pandas
matplotlib
tqdm
# power production
pyoptsparse
# clustering
dask
netcdf4
xarray
scikit-learn
# evaluation
cartopy=0.18
# TODO deprecated, use cartopy instead!
